body{
    background-color: beige;
    font-family: sans-serif;
}

img{
    height: 200px;
    width: auto;
}
img.mascot{
    height: 250px;
    float: left;
    margin: 20px;
}

div{
    margin: 10px;
    border: 4px solid;
    padding: 7px;
}

div.contact{
    width: 30%;
    float: right;
    background-color: chocolate;
    color: white;
    font-style: italic;
}

div.contact a{
    font-weight: bold;
}

div.dogs{
    background-color: yellow;
    color: darkgreen;
    border-color: darkgreen;
}

div.cats{
    background-color: thistle;
    color: purple;
    border-color: violet;
}

div.birds{
    background-color: seagreen;
    color: springgreen;
    border-color: yellow;
}

div.fish{
    background-color: blue;
    color: skyblue;
    border-color: lightgreen;
}

div.reptiles{
    background-color: sandybrown;
    color: rgb(218, 38, 32);
    border-color: green;
}

ul{
    list-style: none;
}